@import 'variables';

body {
  background-color: $lightBeautyBrown;
}

.content-component {
  .container {
    margin: 1em auto;
    width: 50%;
    text-align: center;

    .giveaway-name{
      margin-bottom: 5%;
    }
    .item-name {
      margin-bottom: 1em;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 25px;
    margin-top: 25px;
    background-color: $beautyBlue;
    color: $darkBeautyBrown;

    .copyright {
      font-size: 11px;
    }

    .contactContainer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .contactData {
        text-align: left;
        a{
          text-decoration: none;
          color: #877f77;
        }
      }

      .contactSocial {
        width: 10%;
        display: flex;
        justify-content: space-between;

        div {
          font-size: 25px;
        }
      }

    }
  }
}

:root {
  --border-color: #D7DBE3;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  --green: #0CD977;
  --red: #FF1C1C;
  --pink: #FF93DE;
  --purple: #5767ED;
  --yellow: #FFC61C;
  --rotation: 0deg;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;

}

.modal {
  width: 300px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  z-index: 1;
}

.emoji {
  display: block;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  transform: scale(0.5);
  animation: scaleCup 2s infinite alternate;
  // padding: 10px;
  // width: 100px;
  // height: 100px;
}

// .round {
//   border-radius: 100px;
//   border: 1px solid #000;
// }

@keyframes scaleCup {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

h1 {
  text-align: center;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}


.modal-btn {
  display: block;
  margin: 0 -2rem -2rem -2rem;
  padding: 1rem 2rem;
  font-size: .75rem;
  text-transform: uppercase;
  text-align: center;
  color: $darkBeautyBrown;
  font-weight: 600;
  border-radius: 0 0 .25rem .25rem;
  background-color: $beautyBlue;
  text-decoration: none;
}

@keyframes confettiRain {
  0% {
    opacity: 1;
    margin-top: -100vh;
    margin-left: -200px;
  }

  100% {
    opacity: 1;
    margin-top: 100vh;
    margin-left: 200px;
  }
}

.confetti {
  opacity: 0;
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#confetti-wrapper {
  overflow: hidden !important;
}




