<template>
    <div class="content-component">
        <winner-component v-if="showWinner"
                          :winner="computedWinner"
                          :giveawayName="giveawayName"
        ></winner-component>

        <div v-else class="container">
            <input v-model="giveawayName" placeholder="nombre del sorteo" class="giveaway-name">
            <br/>
            <div v-for="(item, index) in namesList" class="item-name">
                <input v-model="item.name" placeholder="@">
            </div>
            <button @click="addItem">
                Añadir finalista
            </button>

            <button v-on:click="sendNames" v-if="namesList.length > 1">Sacar ganador</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                namesList: [],
                winner: '',
                showWinner: false,
                giveawayName: ''
            }
        },
        computed: {
            computedWinner() {
                return this.winner;
            },
        },
        methods: {
            addItem: function () {
                this.namesList.push({name: ''});
            },

            sendNames() {
                axios.get('/api/get-winner', {
                        params: {
                            namesList: this.namesList.filter(i => i.name !== '').map(i => i.name),
                        },
                    }
                ).then(({data}) => {
                        this.winner = data.winner;
                        this.showWinner = true;
                    }
                )
            }
        }
    }
</script>