<template>
    <div class="footer">
        <div class="container">
            <div class="contactContainer">
                <div class="contactData">
                    <p>
                        <a href="http://alexiatorres.com/" target="_blank">
                            {{ web }}
                        </a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/_awesometacular/" target="_blank">
                            {{ insta }}
                        </a>
                    </p>
                </div>
                <div class="contactSocial">
                    <div>🙈</div>
                    <div>🙉</div>
                    <div>🙊</div>
                </div>
            </div>
            <div class="copyright">
                <p>{{ copyright }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                insta: '@_awesometacular',
                web: 'alexiatorres.com',
                copyright: '2021 | @_awesometacular'
            }
        }

    }
</script>